* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/pattern-background-desktop.svg' );
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto', sans-serif;


}

#size1 {
    /* border-radius: 10px; */
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 10px;

}

.container {

    background-color: hsl(225, 100%, 98%);
    width: 400px;
    height: 640px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.36);





}

.container1 {
    display: block;
    margin-left: 30px;
    margin-right: 30px;

    background-color: hsl(225, 100%, 98%);
    text-align: center;
    margin-bottom: 30px;


}

.container2 {
    display: flex;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;

    background-color: hsl(225, 100%, 98%);
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

.h2 {
    /* text-align: center; */
    margin-bottom: 15px;
    color: hsl(223, 47%, 23%);
}

#para1 {
    text-align: center;
    margin-bottom: 30px;
    color: hsl(224, 23%, 55%);

}

.music-icon {
    margin-right: 20px;
    margin-left: 30px;
}

/* #para-right{
    justify-content: right;
} */
.princing {
    display: flex;
    /* Use flexbox for layout */
    justify-content: space-between;
    /* Distribute items along the main axis with space between them */
    align-items: center;
   
    /* Center items vertically */
    
}

#para-right {
    margin-left: auto;
    /* Move the paragraph to the right by pushing it as far to the left as possible */
    font-size: 14px;
    margin-right: 30px;
    
}

.container3 {
    margin-left: 30px;
    margin-right: 30px;

    background-color: hsl(225, 100%, 98%);
    text-align: center;
    
    margin-bottom: 20px;

}

.container3 button {
    background-color: hsl(245, 75%, 52%);
    width: 340px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    /* Optional: Add a pointer cursor */
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.26);
    border: none;
    color: white;
    font-weight: bold;
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    margin-bottom: 15px;
}

.container4 {
    margin-left: 30px;
    margin-right: 30px;

    background-color: hsl(225, 100%, 98%);
    text-align: center;



}

.princing {
    display: block;
    background-color: hsl(225, 100%, 98%);
    /* margin-bottom: 30px; */
}

#para-right {
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    cursor: pointer;
}

.princing h4 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 5px;

}

.princing p {
    color: hsl(224, 23%, 55%);
}

.container4 p {
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}